<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d0c269e5b9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</head>
<body id="back">

    <nav class="navbar navbar-expand-lg bg-transparent text-dark">
        <div class="container-fluid">
          <h2><a class="navbar-brand text-dark" href="/home">AGS</a></h2>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/register">Student Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/result">Student Result</a>
              </li>
              <li class="nav-item dropdown text-dark">
                <a class="nav-link dropdown-toggle text-dark h1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-dark" href="/about">Developer</a></li>
                  <li><a class="dropdown-item text-dark" href="https://hamernoah.wordpress.com/2015/06/30/%e1%89%a5%e1%8c%b9%e1%8b%95-%e1%8a%a0%e1%89%a1%e1%8a%90-%e1%8c%8e%e1%88%ad%e1%8c%8e%e1%88%aa%e1%8b%8e%e1%88%b5-%e1%8a%ab%e1%88%8d%e1%8b%95/">The School</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-dark" href="#">Appeal</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <style>
        body{
            background-size: cover;
            background-image: url('https://designshack.net/wp-content/uploads/abstract-background.jpg');
        }

      </style>

      {% block content %}

      {% endblock %}
    
</body>
</html>